h1 {
    color: #F24333; /* Color del título principal */
  }
  
  p {
    color: #F7F4F3; /* Color de los párrafos */
  }
  
  table {
    background-color: #F7F4F3; /* Color de fondo de la tabla */
  }